*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background: $secondary;
}

html {
  font-size: $baseFontSize;

  @media #{$tablet} {
    font-size: $tabletFontSize;
  }

  @media #{$phone} {
    font-size: $phoneFontSize;
  }
  @media #{$smallPhone} {
    font-size: $smallPhoneFontSize;
  }
}

body {
  border: 0;
  color: $base;
  font-family: $fontPrimary;
  font-size: $baseFontSize;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: $fontPrimary;
  font-weight: bold;
  line-height: 1.1;

  @media #{$phone} {
    text-align: center;
  }
}

h1{
    font-size: 6.125em;
    font-weight: 400;
    padding-left: 2rem;

    @media (max-width: 400px) {
        font-size: 6em;
    }
    @media (max-width: 320px) {
        font-size: 5.5em;
    }
}

h2 {
  font-size: 68px;
  margin: 0 0 rem(20) 0;

  @media #{$phone} {
    font-size: rem(40);
  }
}

h3 {
  font-size: rem(50);
  margin: 0 0 rem(20) 0;

  @media #{$phone} {
    font-size: rem(32);
  }
}

h4 {
  font-size: rem(36);
  margin: 1.5rem 0 rem(16) 0;

  @media #{$phone} {
    font-size: rem(24);
  }
}

h5 {
  font-size: rem(20);
  margin: 0 0 rem(12) 0;
  position: relative;
}

h6 {
  font-size: calc(16px + 0.25vw);
  margin: 0 0 rem(12) 0;
}

p, ul, li {
  line-height: 1.33;
  font-family: $fontSecondary;
  font-weight: 400;
  margin: 1rem 0 rem(20) 0;

  // &:last-child {
  //   margin: 0;
  // }

  @media #{$phone} {
    text-align: center;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
